
h1{
    color: orange ;
    border:0px solid black;
    margin-top: 0px ;
    margin-bottom: 0px;
    padding: 0%;
    
}
p{
    margin-bottom: 0px;
    border: 0px;
    padding-bottom: 0px;
}


#phone_number{
    color: rgb(250, 0, 167);
}

.personal_information{
    color: green;
}

div{
    background-color: turquoise;
    height: 50px ;
    width: 30px;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}